{{>partials/header}}
<section id="section">
    <div class="container">
        <h1>Programa</h1>
        <p><h4>“VI CONGRESO INTERNACIONAL DE INGENIERÍA AGROINDUSTRIAL”
Potosí, 16 al 20 de septiembre del 2019</h4>
        <hr>
        <p><b>➢	DOMINGO, 15 DE SEPTIEMBRE 2019</b></p>

        <div class="table-responsive">
          <table class="zui-table">
            <thead>
              <tr>
                  <th>Horas</th>
                  <th>Actividad</th>

              </tr>
            </thead>
            <tr>
              <td>
                –	02:30 P.M. - 06:00 P.M.
              </td>
            <td>
                Inscripción
            </td>
            </tr>
          </table>
        </div>
        <hr>
        <p><b>➢	LUNES, 16 DE SEPTIEMBRE 2019</b></p>
        <div>
          <table class="zui-table">
            <thead>
              <tr>
                  <th>Horas</th>
                  <th>Actividad</th>

              </tr>
            </thead>
            <tr>
              <td>
                – 08:00 A.M. - 04:00 P.M.
              </td>
              <td>
                  Feria Agroindustrial Nacional y Local (Día 1)
              </td>
            </tr>
            <tr>
              <td>
                – 08:00 A.M. - 10:00 A.M.
              </td>
              <td>
                  Inscripción
              </td>
            </tr>
            <tr>
              <td>
                – 10:00 A.M. - 11:30 A.M.
              </td>
              <td>
                  Acto Inaugural, palabras de expertos y políticos
              </td>
            </tr>
            <tr>
              <td>
                – 11:30 A.M. - 12:30 A.M.
              </td>
              <td>
                  EXPOSICIONES MAGISTRALES
              </td>
            </tr>
            <tr>
              <td colspan="2">

                  <b>M1.	PhD. Raúl Siche Jara</b> (Ver currículum)
<p><b>Universidad Nacional de Trujillo, Perú.</b><p>
<p><b>Tema:</b> "Desarrollo de técnicas no destructivas utilizando la tecnología de imágenes hiperespectrales en el control de calidad de alimentos".
                </p>
              </td>
            </tr>
            <tr>
              <td>
                – 12:30 P.M. - 14:00 P.M.
              </td>
              <td>
                  Receso para almuerzo
              </td>
            </tr>
            <tr>
              <td>
                – 14:00 P.M. - 15:30 P.M.
              </td>
              <td>
                  Sesiones Orales Simultáneas
              </td>
            </tr>
            <tr>
              <td>
                –	15:30 P.M. - 16:30 P.M.
              </td>
              <td>
                Exhibición de Posters
              </td>
            </tr>
            <tr>
              <td>
                –	16:00 P.M. - 16:30 P.M.
              </td>
              <td>
                Refrigerio
              </td>
            </tr>
            <tr>
              <td>
                –	16:30 P.M. - 18:00 P.M.
              </td>
              <td>
                EXPOSICIONES MAGISTRALES
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <b>M2.	PhD. Mauricio Peñarieta L.</b> (Ver currículum)
                <p><b>Universidad Mayor de San Andrés, Bolivia.</b></p>
                <p><b>Tema:</b> “Investigación química de Alimentos Bolivianos y sus perspectivas en el mercado internacional”</p>

              </td>
            </tr>
            <tr>
              <td colspan="2">
                <b>PhD.. Rudy Radrigan E.</b>  (Ver currículum)
                <p><b>Universidad Nacional de Concepción, Chile</b></p>
              <p> <b>Tema:</b>  “Tecnología y agroindustria una mirada desde la producción”</p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                M4.	 Exp. Bolivia (Ver currículum)
                Por Confirmar
              </td>
            </tr>
            <tr>
              <td>
              - 18:00 P.M. - 18:30 P.M.
              </td>
              <td>
                Brindis de Bienvenida
              </td>
            </tr>
          </table>
        </div>
        <hr>
        <p><b>➢	MARTES, 17 DE SEPTIEMBRE 2019</b></p>
        <div class="table-responsive">
          <table class="zui-table">
            <thead>
              <tr>
                  <th>Horas</th>
                  <th>Actividad</th>

              </tr>
            </thead>
            <tr>
              <td>
                – 08:00 A.M. - 04:00 P.M.
              </td>
            <td>
                Feria Agroindustrial Nacional y Local (Día 2)
            </td>
            </tr>
            <tr>
              <td>
                –	08:00 A.M. - 10:00 A.M.
              </td>
            <td>
                Sesiones Orales Simultáneas
            </td>
            </tr>
            <tr>
              <td>
                – 10:00 A.M. - 10:30 A.M.
              </td>
            <td>
                Refrigerio
            </td>
            </tr>
            <tr>
              <td>
                – 10:30 A.M. - 12:30 A.M.
              </td>
            <td>
                EXPOSICIONES MAGISTRALES
            </td>
            </tr>
            <tr>
              <td colspan="2">
                <b>M5.	PhD. Luz María Paucar Menacho </b>(Ver currículum)
	              <p><b>Universidad Nacional de Santa, Perú</b></p>
	              <p><b>Tema:</b> “Optimización der compuestos bioactivos por procesos de germinación de granos”</p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <b>M6.	M.Sc. Ing. Hugo Aliaga</b> (Ver currículum)
                <p><b>Empresa de Alimentos Sobre la Roca, Bolivia.</b></p>
                <p>
                  	<b>Tema:</b> “La Agroindustria como modelo de Desarrollo Regional, el caso de Sobre la Roca en Chuquisaca”
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <b>M7.	 PhD. Arturo Hernández Montes. </b>(Ver currículum)
	              <p> <b>Universidad Autónoma de Chapingo, México.</b></p>
	              <p> <b>Tema:</b>  “Rutas de influencia de los valores humanos en la aceptación de quesos tradicionales mexicanos y sus significados psicológicos”
              </p>
            </td>
            </tr>
            <tr>
              <td>
                – 12:30 P.M. - 14:00 P.M.
              </td>
            <td>
                Receso para almuerzo
            </td>
            </tr>
            <tr>
              <td>
                – 14:00 P.M. - 15:30 P.M.
              </td>
            <td>
                Sesiones Orales Simultáneas
            </td>
            </tr>
            <tr>
              <td>
                –	15:30 P.M. - 16:30 P.M.
              </td>
            <td>
                Inscripción
            </td>
            </tr>
            <tr>
              <td>
                –	02:30 P.M. - 06:00 P.M.
              </td>
            <td>
                Exhibición de Posters
            </td>
            </tr>
            <tr>
              <td>
                –	16:00 P.M. - 16:30 P.M.
              </td>
            <td>
                Refrigerio
            </td>
            </tr>
            <tr>
              <td>
                – 16:30 P.M. - 18:00 P.M.
              </td>
            <td>
                EXPOSICIONES MAGISTRALES
            </td>
            </tr>
            <tr>
              <td colspan="2">
                <b>M8.	PhD. Carmen Josefina Contreras Castillo</b> (Ver currículum)
                <p><b>Universidad de São Paulo, Brasil.</b></p>
                <p><b>Tema:</b> “Perspectivas futuras para la ciencia y tecnología de carnes en América del Sur.”</p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <b> M9.	 PhD. Jose Luis Vila Castro</b> (Ver currículum)
                <p><b>Universidad Mayor de San Andrés, Bolivia.</b></p>
                <p><b>Tema:</b>“Química de los Productos Naturales en Bolivia”</p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <b>M10.	PhD. Roberto A. Quevedo León</b> (Ver currículum)
                <p><b>Universidad de los Lagos, Osorno, Chile</b></p>
                <p><b>Tema:</b> “La alimentación inteligente: La alimentación del futuro”</p>
              </td>
            </tr>
            <tr>
              <td>
                –	18:00 P.M. - 19:00 P.M.
              </td>
            <td>
                Asamblea de la Red UNIA
            </td>
            </tr>
            <tr>
              <td>
                –	19:00 P.M. - 21:30 P.M.
              </td>
            <td>
                Visita a Museos (Ciudad de Potosí)
            </td>
            </tr>
          </table>
        </div>
        <hr>
        <p><b>➢MIÉRCOLES, 18 DE SEPTIEMBRE 2019</b></p>
        <div class="table-responsive">
          <table class="zui-table">
            <thead>
              <tr>
                  <th>Horas</th>
                  <th>Actividad</th>
              </tr>
            </thead>
            <tr>
              <td>
                –	08:00 A.M. - 04:00 P.M.
              </td>
              <td>
                Feria Agroindustrial Nacional y Local (Día 3)
              </td>
            </tr>
            <tr>
              <td>
                –	08:00 A.M. - 10:00 A.M.
              </td>
              <td>
                Sesiones Orales Simultáneas
              </td>
            </tr>
            <tr>
              <td>
                –	10:00 A.M. - 10:30 A.M.
              </td>
              <td>
                Refrigerio
              </td>
            </tr>
            <tr>
              <td>
                –	10:30 A.M. - 12:30 A.M.
              </td>
              <td>
                EXPOSICIONES MAGISTRALES
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <b>M11.	PhD. Jhon Wilder Zartha Sossa</b> (Ver currículum)
                <p><b>Universidad Pontificia Bolivariana Medellín, Colombia.</b></p>
                <p><b>Tema:</b> “Estudio Prospectivo de la Ingeniería Agroindustrial al 2035”</p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <b>M12.	PhD. Leonardo Alexis Alonso Gómez</b> (Ver currículum)
                <p><b>Universidad Pontificia Bolivariana Medellín. Colombia.</b></p>
                <p><b>Tema:</b> “Proceso de hidrólisis y fermentación de harina de plátano verde para la producción de etanol carburante.”</p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <b>M13.	PhD. Roberto A. Quevedo León </b>(Ver currículum)
                <p><b>Universidad de los Lagos, Osorno, Chile</b></p>
                <p><b>Tema:</b> “Determinación de la vida útil de berries basado en propiedades funcionales”</p>
              </td>
            </tr>
            <tr>
              <td>
                –	12:30 P.M. - 14:00 P.M.
              </td>
              <td>
                Receso para almuerzo
              </td>
            </tr>
            <tr>
              <td>
                –	14:00 P.M. - 15:30 P.M.
              </td>
              <td>
                Sesiones Orales Simultáneas
              </td>
            </tr>
            <tr>
              <td>
                –	15:30 P.M. - 16:30 P.M.
              </td>
              <td>
                Exhibición de Posters
              </td>
            </tr>
            <tr>
              <td>
                –	16:00 P.M. - 16:30 P.M.
              </td>
              <td>
                Refrigerio
              </td>
            </tr>
            <tr>
              <td>
                –	16:30 P.M. - 18:00 P.M.
              </td>
              <td>
                EXPOSICIONES MAGISTRALES
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p>M14.	Exp. Bolivia (Ver currículum)
Por Confirmar
</p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p>M15.	Exp. Bolivia (Ver currículum)
                  Por Confirmar</p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <b>M16.	PhD. Gregorio Cisneros Santos</b> (Ver currículum)
                <p><b>Universidad Nacional Hermilio Valdizan, Huanuco, Perú</b></p>
                <p><b>Tema:</b> “El Desarrollo de la Agroindustria en el Perú en el contexto del Comercio Internacional”</p>
              </td>
            </tr>
            <tr>
              <td>
                –	18:00 P.M. - 20:30 P.M.
              </td>
              <td>
                Clausura Oficial
              </td>
            </tr>
          </table>
        </div>
        <hr>
        <p><b>➢ JUEVES, 19 SEPTIEMBRE 2019</b></p>
        <div class="table-responsive">
          <table class="zui-table">
            <thead>
              <tr>
                  <th>Horas</th>
                  <th>Actividad</th>
              </tr>
            </thead>
            <tr>
              <td>
                –	05:00 A.M. - 18:00 P.M.
              </td>
              <td>
                Gira turística (Salar de Uyuni)
              </td>
            </tr>
          </table>
        </div>
        <hr>
        <p><b>➢	VIERNES, 20 SEPTIEMBRE 2019</b></p>
        <div class="table-responsive">
          <table class="zui-table">
            <thead>
              <tr>
                  <th>Horas</th>
                  <th>Actividad</th>
              </tr>
            </thead>
            <tr>
              <td>
                –	08:00 A.M. - 12:00 P.M.
              </td>
              <td>
                Giras técnicas (Ver Giras Técnicas)
              </td>
            </tr>
          </table>
        </div>
    </div>
</section>
{{>partials/footer}}
